{% extends 'home/base.html' %}
{% load staticfiles %}
{% block body %}
    <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide" data-interval="3000">

            <ol class="carousel-indicators">
                <li data-target="#carousel-slider" data-slide-to="0" class="active">
                </li>
                <li data-target="#carousel-slider" data-slide-to="1">
                </li>
                <li data-target="#carousel-slider" data-slide-to="2">
                </li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({% static 'img/slider/bg-1.jpg' %});">
                    <div class="carousel-caption">
                        <h2>
Charming West Beautiful Villa
</h2>
                        <h3>
<i class="fas fa-map-marker-alt"></i> Capital District, New York, US
</h3>
                        <div class="price-sl">
                            $ 125.000
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url({% static 'img/slider/bg-2.jpg' %});">
                    <div class="carousel-caption">
                        <h2>
House With Beautiful Scendery
</h2>
                        <h3>
<i class="fas fa-map-marker-alt"></i> Seattle, Washington, US
</h3>
                        <div class="price-sl">
                            $ 255.000
                        </div>
                    </div>
                </div>
                <div class="item" style="background-image: url({% static 'img/slider/bg-3.jpg' %});">
                    <div class="carousel-caption">
                        <h2>
Luxurious Huge Duplex
</h2>
                        <h3>
<i class="fas fa-map-marker-alt"></i> Los Angeles, California, US
</h3>
                        <div class="price-sl">
                            $ 350.000
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
                <i class="fas fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>

    <section class="project section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Latest Projects</h2>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-1.jpg' %}" alt="">
                                    </a>
                                    <span class="label-featured">Featured</span>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$526.885</span>
                                        <span class="item-sub-price">$3.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Guaranteed modern home</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 4</span><span>Bathroom: 2</span><span>Sq Ft: 2500</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="#">Will Ernest </a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-2.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Rent</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$486.885</span>
                                        <span class="item-sub-price">$3.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Amazing home for family</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 3</span><span>Bathroom: 2</span><span>Sq Ft: 750</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="#">Maria Barlow</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-3.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$250.885</span>
                                        <span class="item-sub-price">$2.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Gorgeous in green house</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 4</span><span>Bathroom: 3</span><span>Sq Ft: 750</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Janet Richmond</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-4.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$676.885</span>
                                        <span class="item-sub-price">$4.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Family home for sale</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 5</span><span>Bathroom: 4</span><span>Sq Ft: 900</span></p>
                                        <p>Single Family Hom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Samuel Palmer</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-5.jpg' %}" alt="">
                                    </a>
                                    <span class="label-featured">Featured</span>
                                    <div class="label-inner">
                                        <span class="label-status label">For Rent</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$456.885</span>
                                        <span class="item-sub-price">$3.000/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Amazing oceanfront apartment</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 3</span><span>Bathroom: 2</span><span>Sq Ft: 350</span></p>
                                        <p>Apartment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Will Ernest</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="project-main">
                        <div class="project-wrap">
                            <div class="project-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="project.html">
                                        <img src="{% static 'img/project/house-6.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$756.885</span>
                                        <span class="item-sub-price">$6.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="project-title"><a href="project.html">Luxury home for sale</a></h3>
                                    <div class="info">
                                        <p><span>Bedroom: 2</span><span>Bathroom: 1</span><span>Sq Ft: 250</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Maria Barlow</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-plus"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="gridlisting.html" class="btn btn-common">Load More</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
