#google-map,
body,
html {
    padding: 0;
    height: 400px;
}
.account-setting a{
    border: 1px solid #000;
    border-radius: 5px;
}
.account-setting a:hover{
    color: #1d78cb;
}
.address li{
    color: #fff;
}
.address li i{
    padding-right: 5px;
}
